{% extends "base.html" %}
{% block content %}
        <h1>{{ t('email_reset_password_title') }}</h1>
        <p>{{ t('email_reset_password_greeting', username=username) }}</p>
        <p>{{ t('email_reset_password_intro', project_name=project_name) }}</p>
        <p>{{ t('email_reset_password_action') }}</p>
        <a href="{{ link }}" class="button">{{ t('email_reset_password_button') }}</a>
        <p>{{ t('email_reset_password_link_intro') }}</p>
        <p><a href="{{ link }}">{{ link }}</a></p>
        <p>{{ t('email_reset_password_expiry', valid_hours=valid_hours) }}</p>
        <p>{{ t('email_reset_password_ignore') }}</p>
{% endblock %}
